{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header"><center><h1><a href="/">VAMOS MARATONAR?</a></h1></center> </div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                    <p>Publicado: {{ post.published_date }}</p>
                    </div>
                    <h2><a href="">{{post.title}}</a></h2>
                    <p>{{post.text | linebreaks | truncatewords:110}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="rodape">
    TODOS OS DIREITOS RESERVADOS
</div>
    
</body>
</html>